<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A selection model for ngRepeat">
    <meta name="author" content="jtrussell">

    <title>Angular Selection Model</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="demo">

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/jtrussell/angular-selection-model">GitHub</a></li>
        </ul>
        <h3 class="text-muted">Angular Selection Model</h3>
      </div>

      <div class="jumbotron">
        <h1>Select Something</h1>
        <p class="lead">Without the extra junk</p>
      </div>

      <div class="marketing row">
        <h4>Hello World</h4>
        <p>Yeah, there are a bunch of grid and table directives out there
        already. The <code>selectionModel</code> directive is unique in that it
        is indifferent to how your data is presented and only concerns itself
        with tracking which items are (and are not) selected.</p>
        <p>Want to use a fancy table? Sure. Prefer to work with lists? That
        works. Just a bunch of <code>div</code>s? That's cool too!
        <code>selectionModel</code> is just a companion for
        <code>ngRepeat</code> if you can use <code>ngRepeat</code> to present
        your data, you can use <code>selectionModel</code> to manage your
        selection.</p>
        <p>How about some demos?</p>
      </div>

      <div class="marketing row">
        <h4>The Basics</h4>
        <p>Getting up and running is a snap. Include the
        <code>selectionModel</code> script on your page and add
        it as a depedency to your angular app. </p>
        <p>The <code>selectionModel</code> directive works with
        <code>ngRepeat</code>, it keys in on a boolean attribute on your
        collection items (configurable) and assigns a css class to selected items
        in the view (also configurable). Here's a basic example:</p>
        <div class="panel panel-default">
          <div class="panel-heading"><h5 class="panel-title">Demo</h5></div>
          <div class="panel-body">
            <h4>Choose something fancy!</h4>
            <div ng-controller="FancyCtrl as fancy">
              <ul class="fancy">
                <li ng-repeat="item in fancy.bag"
                    selection-model
                    selection-model-selected-items="fancy.selectedItems">
                  {{$index+1}} {{item.label}}
                </li>
              </ul>
              <p>Someone so fancy <em>would</em> choose the <strong>{{fancy.selectedItems[0].label | lowercase}}</strong>.</p>
            </div>
          </div>
          <div class="panel-footer">
            <h5>Controller...</h5>
            <div>
              <code><pre>
  myApp.controller('FancyCtrl', function() {
    this.bag = [
      {label: 'Monacle', selected: false},
      {label: 'Top Hat', selected: true},
      {label: 'Mustachio', selected: false},
      {label: 'Coffee', selected: false}
    ];
  });</pre></code>
            </div>
            <h5>View...</h5>
            <div>
              <code ng-non-bindable><pre>
  &lt;ul ng-controller="FancyCtrl as fancy"&gt;
    &lt;li ng-repeat="item in fancy.bag" selection-model&gt;
      {{$index+1}} {{item.label}}
    &lt;/li&gt;
  &lt;/ul&gt;</pre></code>
            </div>
          </div>
        </div>
        <p>That's literally <strong>zero</strong> lines of code to manage the
        selection. No click handlers. No view helpers.</p>
      </div>
      

      <div class="marketing row">
        <h4>Getting really fancy...</h4>
        <p>There are tons of ways to configure the <code>selectionModel</code>
        directive. You can:</p>
        <ul>
          <li>Work with multi-selections and checkboxes</li>
          <li>Programmatically get at and update the selection</li>
          <li>Use all the usual <code>ngRepeat</code> partners in crime - filters,
          paging, ... already built into Angular.</li>
        </ul>
        <p>The <code>selectionModel</code> directive is built to manage your
        selections and get out of the way. Use your own list and table styles
        and don't jump through hurdles to skin complex widgets.</p>
      </div>

      <h4>The Kitchen Sink</h4>
      <p>Here's a more involved example.</p>

      <div class="panel panel-default">
        <div class="panel-heading"><h5 class="panel-title">Demo</h5></div>
        <div class="panel-body" ng-controller="FancyCtrl as fancy">

          <form role="form">
            <div class="form-group">
              <label>Fancy filter</label>
              <input type="text" class="form-control" ng-model="fancyfilter" placeholder="Choose your fancy">
            </div>
          </form>

          <table class="table super-fancy">
            <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>Label</th>
                <th>Value</th>
              </tr>
            </thead>
            <tr ng-repeat="item in fancy.bag | filter:fancyfilter"
                selection-model
                selection-model-type="checkbox"
                selection-model-mode="multiple-additive"
                selection-model-selected-class="foobar">
              <td><input type="checkbox"></td>
              <td>{{$index + 1}}</td>
              <td>{{item.label}}</td>
              <td>{{item.value}}</td>
            </tr>
          </table>

        </div>
        <div class="panel-footer">
          <h5>Same controller different view...</h5>
          <code ng-non-bindable><pre>
  &lt;input type="text" ng-model="fancyfilter" /&gt;

  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;Label&lt;/th&gt;
        &lt;th&gt;Value&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tr ng-repeat="item in fancy.bag | filter:fancyfilter"
        selection-model
        selection-model-type="checkbox"
        selection-model-mode="multiple-additive"
        selection-model-selected-class="foobar"&gt;
      &lt;td&gt;&lt;input type="checkbox"&gt;&lt;/td&gt;
      &lt;td&gt;{{$index + 1}}&lt;/td&gt;
      &lt;td&gt;{{item.label}}&lt;/td&gt;
      &lt;td&gt;{{item.value}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt; </pre></code>
        </div>
      </div>

      <div class="marketing row">
        <h4>And Then...</h4>
        <p>Still want more? Check out the <a href="https://github.com/jtrussell/angular-selection-model">GitHub repo</a>.</p>
      </div>

      <div class="footer">
        <p class="pull-left">&copy; jtrusell 2013</p>
        <p class="pull-right">Licensed under the MIT License.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js" type="text/javascript" charset="utf-8"></script>
   <script src="vendor/angular-selection-model/dist/selection-model.js" type="text/javascript" charset="utf-8"></script>
   <script src="scripts.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

